.vertical{
	height: 50vh;
    width: 2px;
    background: black;
    margin: 0 auto;
    position: absolute;
    left: 50vw;
    z-index: -1;
}

.diamond{
	background: lightblue;
    opacity: 0.3;
    z-index: -5;
    width: 65vw;
    height: 43vh;
    border-radius: 100vw;
    position: absolute;
    left: 18vw;
    top: 49vh;
    transform: scale(1.5);
}

.rond{
	width: 100vw;
	margin: 5vh auto;
	display: block;
}

@mixin icons{
    width: 20vw;
    height: 10vh;
    border: 2px solid grey;
}

.musicicon{
	@include icons;
}
.coffeeicon{
    @include icons;
    margin-left: 40vw;
}
.bdayicon{
    @include icons;
}
.codeicon{
    @include icons;
    margin-left: 40vw;
}

p{
	font-size: 2vw;
}
.firsttext{
    width: 37vw;
    margin-left: 3vw;
    padding: 1vw;
    animation-name: fade;
    animation-duration: 2s;
    float: left;
    display: inline-block;
}
.secondtext{
    width: 35vw;
    margin-right: 3vw;
    padding: 1vw;
    animation-name: fade;
    animation-duration: 2s;
    float: right;
    display: inline-block;
}
.thirdtext{
	width: 37vw;
    padding: 1vw;
    margin-left: 3vw;
    animation-name: fade;
    animation-duration: 2s;
    float: left;
    display: inline-block;
}
.fourthtext{
    width: 35vw;
    padding: 1vw;
    margin-right: 3vw;
    animation-name: fade;
    animation-duration: 2s;
    float: right;
    display: inline-block;
}

@keyframes fade{
	0%{ opacity: 0; }
	100%{ opacity: 1; }
}