*{
	font-family: 'Montserrat', sans-serif;
}
.main{
	height: auto;
	.line{
	width: 75vw;
    height: 1px;
    background-color: black;
    margin: 5vh auto;
	}
}
.time{
	display: block;
	margin: 0 auto;
	text-align: center;
}
footer{
	background: lightblue;
}